/* CSS code */
body {
  background-color: #f7f0f0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  background-color: #f5eded;
}

.top-bar li {
  display: inline-block;
  margin-right: 1.25rem;
}

.content {
  background-color: #70b4e4;
  padding: 1.25rem;
  text-align: center;
  height: 98%;
  width: 95%;
  border-radius: 0.5rem;
}

.content h1 {
  color: #fcf4f4;
  font-size: 1.5rem;
}

.content p {
  color: #ffffff;
  font-size: 1.125rem;
}

.content span {
  color: #5a4e4e;
  font-weight: bold;
}

.content form {
  margin-top: 1.25rem;
}

.content label {
  display: block;
  margin-bottom: 0.625rem;
}

.content input[type="number"] {
  width: 12.5rem;
  padding: 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.625rem;
}

.content select {
  width: 12.5rem;
  padding: 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.content button {
  display: inline block;
  width: 6.25rem;
  padding: 0.625rem 1.25rem;
  margin-top: 1.25rem;
  background-color: #4e7f9e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ratio {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.ratio input[type="number"] {
  width: 2.5rem;
  padding: 0.3125rem;
  border: 1px solid #ccc;
}

.ratios input[type="number"] {
  width: 2.5rem;
  padding: 0.3125rem;
  border: 0.625rem solid #ccc;
}

.content span.gravelspan {
  color: #ffffff;
}

/* Media query for screens with maximum width of 600px */
@media (max-width: 37.5rem) {
  /* Modify styles for .ratio class */
  .ratio {
    flex-direction: column;
    gap: 0.3125rem;
  }

  /* Modify styles for .ratio input[type="number"] */
  .ratio input[type="number"] {
    width: 100%;
  }

  /* Modify styles for .ratios input[type="number"] */
  .ratios input[type="number"] {
    width: 100%;
  }
}
